@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.nav{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5%;
}

.sidenavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  text-decoration: none;
  color: #fc00ff;
  border-color: #fc00ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  background-color: rgb(0, 173, 253);
}

.sidenavigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenavigation a:hover {
  color: white;
}

.sidenavigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header {
  min-height: 60vh;
  background: #009FFF;
background: linear-gradient(to right, #ec2F4B, #009FFF);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.profile{
  vertical-align: middle;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

@media (max-width: 1100px){
  .profile{
    vertical-align: middle;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 600px){
  .profile{
    vertical-align: middle;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
}