
@font-face {
  font-family: Poppins-Regular;
  src: url('../Login/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../Login/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../Login/fonts/montserrat/Montserrat-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../Login/fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.username_text {
	padding: 30px 0px 10px 0px ;
}

.password_text {
	padding: 13px 0px 9px 0px ;
}

.sign-up-prompt {
	text-align: center;
	padding: 55px 0px 0px 0px;
	width: 100%;
}

.text1 {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
}

.text2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  padding: 55px 0px 0px 0px;
}


.signUp {
  width: 100%;
  margin: 0 auto;
}

.container-profilesignUp {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-profilesignUp {
  width: 680px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 100px 110px 33px 110px;
}


/*========= Form ===========*/

.profilesignUp-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
.profilesignUp-form-title {
  width: 100%;
  padding-bottom: 53px;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}

.wrap-inputData {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}


/*---------------------------------------------*/
.inputData {
  font-family: Poppins-Regular;
  color: #333333;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
}
/*------ Focus Input ---------*/

.focus-inputData {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #fc00ff;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.inputData:focus + .focus-inputData {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------ Button -----------*/

.container-profilesignUp-form-button {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
}

.profilesignUp-form-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 60px;
  background-color: #333333;
  border-radius: 10px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.profilesignUp-form-button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.profilesignUp-form-button:hover:before {
  opacity: 1;
}


/*------ Responsive ----------*/

@media (max-width: 768px) {
  .wrap-profilesignUp {
    padding: 0px 60px 0px 60px;
  }

@media (max-width: 576px) {
  .wrap-profilesignUp {
    padding: 0px 15px 0px 15px;
  }

}