<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/static/search_engine/dashboard.css">
</head>
<body>
	<div id="mySidenavigation" class="sidenavigation">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNavigation()">&times;</a>
		<a href="{% url 'search_engine-user' %}">Profile</a>
		<a href="{% url 'search_engine-searchClusters' %}">Search In Clusters</a>
		<a href="{% url 'search_engine-search' %}">Make A Cluster</a>
		<a href="{% url 'search_engine-about' %}">About</a>
		<a href="{% url 'search_engine-logout' %}">Logout</a>
	  </div>

    <div class = "nav" style="font-size:40px;cursor:pointer; color: fuchsia;" onclick="openNavigation()">&#9776;
      
    </div>
	
	<div class="dash">
		<div class="container-dash" style="background-image: url('/static/search_engine/images/background-1.jpg');">
                
			   <form class="dash-form validate-form">
					<a href="#" style="text-decoration:none;" class="button-clusters">
						<img src="/static/search_engine/images/icons/clusters.svg" alt="CLUSTERS">
						Clusters
					</a>
					
					<a href="#" style="text-decoration:none;" class="button-search">
						<img src="/static/search_engine/images/icons/search.svg" alt="SEARCH">
						Search
         			</a>

                    <a href="#" style="text-decoration:none;" class="button-about">
						<img src="/static/search_engine/images/icons/about.svg" alt="ABOUT">
						About
					</a>

                    <a href="#" style="text-decoration:none;" class="button-settings">
						<img src="/static/search_engine/images/icons/settings.svg" alt="SETTINGS">
						Settings
					</a>
				</form>
				
		</div>
	</div>

	<script>
    function openNavigation() {
      document.getElementById("mySidenavigation").style.width = "250px";
    }

    function closeNavigation() {
      document.getElementById("mySidenavigation").style.width = "0";
    }
    </script>

</body>
</html>